.calculator-container {
    height: 100vh;
    overflow: hidden;
    background-color: white;

    .section-left {
        background-color: #0069B4;
        width: 40%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }

    .section-right {
        flex: 1;
        position: relative;
        overflow: hidden;

        .content {
            max-height: 100vh;
            overflow-y: auto;
            padding: 3rem 0 8rem;
        }
        
        .navigation {
            background-color: white;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 99;

            .progress-bar {
                height: 4px;
                background-color: #F5F5F5;
                overflow: hidden;

                .bar {
                    height: 100%;
                    width: 0%;
                    background-color: #0069B4;
                    transition: width .5s ease;
                }
            }
        }
    }
}

.result-container {
    background-color: #FAFAFA;
    position: relative;
    .bg-image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        background-color: #009dff11 !important;
        background-image: url("../../assets/img/calculator-result.webp") !important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
    }

    .result-section {
        position: relative;
        z-index: 2;
        padding: 65px 16px;
    }

    .result-card {
        background: #FFFFFF;
        border: 1px solid #F5F5F5;
        box-shadow: 0px 8px 16px rgba(23, 23, 23, 0.04);
        border-radius: 16px;
    }

    .potential-card {
        background: #F5F9FF;
        border-radius: 16px;
        justify-content: space-evenly;
    }

    .meeting-card {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
        background: #F5F9FF;
        border-radius: 12px;
        padding: 1rem;
        height: 100%;

        .icon-wrapper {
            width: 40px;
            height: 40px;
            display: grid;
            place-items: center;
            background: #FFFFFF;
            box-shadow: 0px 8px 16px rgba(23, 23, 23, 0.04);
            border-radius: 12px;

            svg {
                color: #0069B4;
            }
        }
    }
}

.icon-btn {
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
    border-radius: 99px;
    border: none;
    outline: none;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
}

.pgn-button {
  background-color: #0069B4;
  padding: 12px 24px;
  display: flex;
  border-radius: 99px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 8px;
  border: none;
  color: white;
  font-size: 1rem;
  line-height: 24px;
  font-weight: 700;
  cursor: pointer;
  transition: all .25s ease;

  &:hover {
    color: white;
    text-decoration: none;
  }

  &.secondary {
    background-color: #E6F0F8;
    color: #0069B4;
  }

  &.text {
    background-color: #FFFFFF;
    color: #0069B4;

    &:hover {
        background-color: #E6F0F8;
    }
  }

  &.disabled {
    cursor: not-allowed;
    background-color: #E5E5E5;
    color: #A3A3A3;
  }
}

.image-select-item {
    position: relative;
    width: 100%;
    height: 143px;
    padding: 1rem;
    overflow: hidden;
    border: 4px solid;
    border-color: transparent;
    border-radius: 12px;
    cursor: pointer;
    transition: all .2s ease;
    background-color: white;

    &:hover {
        border-color: #B3D2E9;
    }

    &.selected {
        border-color: #0069B4;
    }

    .overlay {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);

        &.variant-2 {
            background: rgba(0, 0, 0, .6);
        }
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        object-fit: cover;
        z-index: 1;
    }

    .text-checkbox {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        p {
            flex: 1;
            position: relative;
            z-index: 5;
            margin: 0;
            font-size: 18px;
            font-weight: 700;
            text-align: left;
            // color: white;
        }
    
        input {
            position: relative;
            z-index: 5;
            width: 20px;
            height: 20px;
            -moz-appearance:none;
            -webkit-appearance:none;
            -o-appearance:none;
            outline: none;
            content: none;

            &::before {
                content: "\2713";
                font-size: 12px;
                color: transparent !important;
                background: transparent !important;
                display: grid;
                place-items: center;
                width: 20px;
                height: 20px;
                border: 2px solid;
                border-color: white;
                border-radius: 4px;
                padding: 0;
            }

            &:checked::before {
                color: white !important;
                background-color: #0069B4 !important;
                border-color: #0069B4;
            }
        }

        &.variant-2 {
            display: grid;
            place-items: center;
            p {
                text-align: center;
            }
        
            input {
                position: absolute;
                top: 16px;
                right: 16px;
                z-index: 5;
            }
        }
    }
}

.map-wrapper {
    position: relative;

    .centered-map-btn {
        position: absolute;
        bottom: 30px;
        right: 20px;
        z-index: 5;
    }

    .search-bar-container {
        position: absolute;
        top: 20px;
        left: 50%;
        z-index: 50;
        width: Min(400px, 90%);
        transform: translateX(-50%);

        .search-bar {
            position: relative;
            z-index: 50;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 16px 24px;
            gap: 8px;
            background: #FFFFFF;
            border: 1px solid;
            border-color: transparent;
            box-shadow: 0px 4px 8px rgba(23, 23, 23, 0.15);
            border-radius: 99px;
            transition: all .25s ease;
            color: #737373;
    
            &.active {
                border-color: #0069B4;
            }
    
            input {
                border: none;
                outline: none;
                flex: 1;
                font-weight: 500;
            }
        }

        .popover {
            width: 100%;
            max-width: 100%;
            top: 25px;
            z-index: 40 !important;
            border-radius: 0 0 16px 16px;
            border: none;
            box-shadow: 0px 4px 8px rgba(23, 23, 23, 0.15);
        }

        .list-box {
            margin-top: 40px;
            padding: 8px 0;
        }

        .list-box-item {
            padding: 8px 16px;
            display: flex;
            align-items: center;
            color: #737373;
            &:nth-last-child() {
                padding-bottom: 16px;
            }

            .location-icon {
                width: 32px;
                height: 32px;
                background: #FAFAFA;
                border-radius: 99px;
                display: grid;
                place-items: center;

                svg {
                    width: 16px;
                    height: 16px;
                }
            }

            .location-description {
                flex: 1;
            }
        }
    }


    .gm-style-iw-t {
        bottom: -80px !important;
        .gm-style-iw-tc {
            &::after {
                display: none;
                // background-color: #0069B4;
            }
        }
    }

    .gm-style-iw-c {
        background-color: #0069B4;
        border-radius: 16px;
        box-shadow: 0px 8px 16px rgba(23, 23, 23, 0.04);
        color: white;
        font-weight: 500;

        .gm-style-iw-d {
            overflow: hidden !important;
        }

        button {
            display: none !important;
        }
    }
}